@keyframes 'ProgressBar'{0%{transform: translateX(-300px);}100%{transform: translateX(0px);}}
@keyframes 'ProgressMarks'{0%{transform: translateX(300px); }100%{transform: translateX(0px);}}
@keyframes 'ProgressOpacity'{0%{opacity: 1;}25%{opacity: 0.5;}50%{opacity: 0.1;}75%{opacity: 0.5;}100%{opacity: 1;}}


.skill-box{
  width: 346px;
  margin-top: 10px;
  margin-left: 45px;
  wash-color: #616d7ea1;
}

.skill-box .skill-bar{
  height: 12px;
  width: 100%;
  border-radius: 6px;
  margin-top: 1px;
  margin-left: 1px;
  background-color: rgba(0, 0, 0, 0.5);
  animation-delay: 0.1s;
}

.skill-bar .skill-per{
  height: 100%;
  border-radius: 6px;
  wash-color: white;
  /* animation-name: ProgressBar;
  animation-duration: 0.8s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1; */
}

#selfoff {
  width: 0%;
  background-color: #ffffff;
  wash-color: #7a899f;
}
#selfdef {
  width: 0%;
  background-color: #ffffff;
  wash-color: #7a899f;
}
#selfescape {
  width: 0%;
  background-color: #ffffff;
  wash-color: #7a899f;
}
#supoff {
  width: 0%;
  background-color: #ffffff;
  wash-color: #7a899f;
}
#supdef {
  width: 0%;
  background-color: #ffffff;
  wash-color: #7a899f;
}
#supcontrol {
  width: 0%;
  background-color: #ffffff;
  wash-color: #7a899f;
}

.column {
  position: 1360px 140px 0.0px;
  flow-children: down;
  height: 224px;
  max-width: 346px;
  vertical-align: center;
  /* background-color: gradient( linear, 0% 100%, 0% 0%, from( #171A25dd ), to( #171A25dd ) ); */
}

Image {
  max-width: 100%;
  margin: 0px 0;
  height: 30px;
  width: 38px;
  wash-color: #616d7efb;
  border-radius: 100px;
}

.item {
  vertical-align: middle;
  margin: 1px 0;
  padding: 2px;
}

.item:hover {
  brightness: 2.0;
}

.item:hover .Image_class {
  pre-transform-scale2d: 1.2;
  wash-color: #616d7ec4;
}

.item:hover .Image_class, .item:hover .skill-per {
  animation-name: ProgressOpacity;
  animation-duration: 1s;
  animation-delay: 0.4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

/* .item:not(:hover) .marks {
  animation-name: ProgressMarks;
  animation-duration: 0.8s;
  animation-delay: 0.1s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
} */

.marks {
  border-right: 4px solid#171A25dd;
  height: 15px;
  z-index: 1;
}  

#m1 {
  margin-top: 0px;
  margin-left: 49.4px;
}
#m2 {
  margin-top: 0px;
  margin-left: 98.8px;
}
#m3 {
  margin-top: 0px;
  margin-left: 148.3px;
}
#m4 {
  margin-top: 0px;
  margin-left: 197.7px;
}
#m5 {
  margin-top: 0px;
  margin-left: 247.1px;
}

.img_collapse {
  visibility: collapse;
}

