.TalentTreeRoot
{
  width: 100%;
  height: 100%;
}

.WindowOut
{
  transform: translatex( -25px );
  transition-property: transform;
  transition-duration: 0.2s;
}

.WindowIn
{
  transform: translatex( 0px );
  transition-property: transform;
  transition-duration: 0.2s;
}

.PtsOut
{
  transform: translatex( -120px );
  transition-property: transform;
  transition-duration: 0.2s;
}

.PtsIn
{
  transform: translatex( 0px );
  transition-property: transform;
  transition-duration: 0.2s;
}

#StatsColumnContainer
{
  /* width: fit-children; */
  /* height: fit-children; */
  flow-children: right;
  margin-top: 5px;
  margin-left: 30px;
}

.StatColumn
{
  /* width: fit-children; */
  /* height: fit-children; */
  flow-children: down;
  margin-right: 5px;
}

.TitleLabel
{
  color: white;
  text-align: center;
  /* text-shadow: 0 0 2px greenyellow; */
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
  font-size: 16px;
}

.StatValues
{
  height: 19px;
  width: 20px;
  margin-bottom: 5px;
}

.StatBonus
{
  height: 19px;
  width: 30px;
  margin-bottom: 5px;
}

.StatCollapsed
{
  height: 19px;
  width: 40px;
  margin-bottom: 5px;
}

.StatRow
{
  height: 19px;
  width: 112px;
  margin-bottom: 5px;
}

.StatRowSelected
{
  width: 100%;
  height: 100%;
  
  background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(0, 0, 0, 0) ), color-stop( .5, #aca91196 ), to( #c4c70ab2 ) );
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.StatRowSelectedPositive
{
  width: 100%;
  height: 100%;
  
  background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(0, 0, 0, 0) ), color-stop( .5, #11ac5796 ), to( #0ac765b2 ) );
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.StatRowSelectedNegative
{
  width: 100%;
  height: 100%;
  
  background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(0, 0, 0, 0) ), color-stop( .5, #ac111196 ), to( #c70a0ab2 ) );
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.PositiveStats
{
  text-shadow: 0 0 2px greenyellow;
}

.NegativeStats
{
  text-shadow: 0 0 2px red;
}

.NeutralStats
{
  text-shadow: 0 0 3px rgb(150, 150, 150);
}


#StatsWindowContainer
{
  margin-top: 172px;
  horizontal-align: left;
  /* width: fit-children;
  height: fit-children; */
  background-color: #1922292c;
  /* background-color: gradient( linear, 100% 0%, 100% 100%, from( #001017 ), to( #192229 ) ); */
  flow-children: right;
}

#PtsTotalContainer
{
  horizontal-align: left;
  vertical-align: top;
  margin-bottom: 5px;
  margin-top: 417px;
  
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
  font-size: 16px;
  color: white;
  width: 120px;
  height: 30px;
  
  background-color: gradient( linear, 100% 0%, 0% 0%, from( #0000 ), color-stop( .5, #6060809a ), to( #60608096 ) );
}

#PtsTotalContainer Label
{
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
  font-size: 16px;
  color: white;
  margin-top: 2px;
  margin-left: 10px;
  text-align: left;
  vertical-align: middle;
  horizontal-align: left;
}

#InfoWindowContainer
{
  horizontal-align: left;
  vertical-align: top;
  margin-bottom: 0px;
  /* margin-top: 0px; */
  
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
  font-size: 16px;
  color: white;
  width: fit-children;
  height: fit-children;
  background-color: gradient( linear, 100% 0%, 100% 100%, from( #2b3b46cd ), to( #002332cd ) );
  /* border: 1px solid dimgray; */
}

#InfoWindowContainer Label
{
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
  font-size: 16px;
  color: white;
  margin-top: 1px;
  margin-left: 5px;
  margin-right: 5px;
  
  /* text-align: center; */
  vertical-align: middle;
  /* horizontal-align: middle; */
}



#StatsWindowButton
{
  horizontal-align: left;
  vertical-align: top;
  margin-bottom: 5px;
  margin-top: 132px;
  
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
  font-size: 24px;
  color: white;
  width: 150px;
  height: 40px;
  box-shadow: 0px 0px 20px -2px #000000;
  border-radius: 6px;
  background-image: url("file://{images}/custom_game/hero_bar_status.png");
  
}

#StatsWindowButton:active
{
  width: 145px;
}

#StatsWindowButton Label
{
  font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,YDYGO 540,Gulim,MingLiU;
  font-size: 24px;
  color: white;
  margin-top: 2px;
  text-align: center;
  vertical-align: middle;
  horizontal-align: middle;

}

#StatsWindowButton:hover
{
  wash-color: #b0b0b0;
  
}

#StatsWindowButtonActive
{
  width: 100%;
  height: 100%;
  
  background-color: gradient( linear, 100% 0%, 0% 0%, from( rgba(0, 0, 0, 0) ), color-stop( .5, #aca91196 ), to( #c4c70ab2 ) );
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.TalentButtons {
  width: 300px;
  height: 50px;
  vertical-align: bottom;
  horizontal-align: middle;
  margin-bottom: 50px;
  flow-children: right;
  margin-left: 0px;
  
  position: -37px 16px 0px;
  
}

.talent_button {
  width: 20px;
  height: 20px;
  transition-property: background-image;
  background-image: url("file://{images}/custom_game/talent_button_off.png");
  background-size: 100% 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition-duration: .12s;

  padding: 2px;
  margin: 0px 37px 0px 0px;
}

.talent_button:hover {
  background-image: url("file://{images}/custom_game/talent_button_on.png");
}

#TalentContainer{
  width: 400px;
  height: 350px;
  vertical-align: bottom;
  horizontal-align: middle;
  margin-right: 70px;
  margin-bottom: 95px;
}

.TalentSpellContainer {
  background-image: url("s2r://panorama/images/hud/reborn/hud_custom_ti10/ability_bg_psd.vtex");
  border-radius: 5px;
  background-size: cover;
  width: 130px;
  height: 300px;
  flow-children: down;
}

.TalentSpellContainer Label{
  font-size: 15px;
  horizontal-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0px 1px 4px 3.0 #000000;
  margin-top: 6px;
  margin-bottom: 2px;
  letter-spacing: 1px;

}

.talent-skill-label {
  flow-children: down;
  horizontal-align: center;
}


.talent-skill-label Label{
  border-top: 2px;
  border-bottom: 2px;

  padding-top: 5px;
  font-size: 12px;
  horizontal-align: middle;
  letter-spacing: -1px;
}

.TalentTier {
  width: 110px;
  margin: 1px 2px 0px 2px;
  flow-children: right;
  horizontal-align: center;
}

.TalentTierAvailable {
  width: 110px;
  margin: 1px 2px 0px 2px;
  flow-children: right;
  horizontal-align: center;
  animation-name: Available;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transition-property: brightness, opacity;
}

@keyframes 'Available'{
  0%{
    opacity: 0.9;
    brightness: 1.5;
  }
  50%{
    opacity: 1;
    brightness: 2.5;
  }
  100%{
    opacity: 0.9;
    brightness: 1.5;
  }
 }

 .TalentTierBlocked{
  width: 110px;
  height: 55px;
  margin: 1px 2px 0px 2px;
  horizontal-align: center;
  background-image: url("file://{images}/custom_game/talent_locked2.png");
  background-position: 50% 50%;
  background-size: cover;
  z-index: 10;
  ignore-parent-flow: true;
  margin-left: -3px;

 }

 .hide {
  visibility: collapse;
 }

 #Tier-blocked2{
  margin-top: -55px;
 }

 #Tier-blocked3{
  margin-top: -104px;
 }

DOTAAbilityImage {
  width: 45px;
  height: 45px;
  padding: 1px;

}

.TalentSkillOn {
  horizontal-align: center;
  border: 2px solid white;
  border-radius: 3px;
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( #ffdd00 ), to( #c09301) );
}

.TalentSkillOff {
  horizontal-align: center;
  border: 1px solid #000000;
  border-radius: 3px;
  wash-color: #999999;
}

.TalentSkill {
  horizontal-align: center;
  border: 1px solid #ffffff;
  border-radius: 3px;
  border-brush: gradient( linear, -50% 0%, 0% 100%, from( rgba(208, 195, 135, 0.462) ), to( #432c008a) );
}









#TalentPanel1 {
  position: 0px 0px 0px;
  z-index: 1;
  margin-left: 0px;
}

#TalentPanel2 {
  position: 60px 0px 0px;
  z-index: 2;
}

#TalentPanel3 {
  position: 120px 0px 0px;
  z-index: 3;
}

#TalentPanel4 {
  position: 180px 0px 0px;
  z-index: 4;
}

#TalentPanel5 {
  position: 240px 0px 0px;
  z-index: 5;

}


